.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around; /* Hoặc space-between */
  align-items: center;
  background: #333;
  padding: 1rem;
}

.navButton {
  color: white;
  text-decoration: none;
  padding: 0.5rem 2rem;
  margin: 0 1rem;
  border-radius: 4px;
  transition: background 0.3s;
}

.navButton:hover {
  background: #555;
}